/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
    
}

a{
    text-decoration: none;
    color: #717171; 
    font-weight: bold;
}

li{
    list-style: none;    
    line-height: 30px;
}

img{
    max-width: 100%;   
}

button{
    width: 200px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
}

h1{
    color: white;
    font-size: 25px;
    margin-left: 5px;
}

section{
    color: white; 
    margin-bottom: 50px;
}

span{
    color: #d2d2d2;
    font-weight: bold;
}

.space{
    padding: 0 10px;
    margin: 0 -5px;
}

.icon{
    width: 30px;
}

.title{
    margin: 15px;
}

/* HOVER */
/* hover link */
a:hover,.fa-folder:hover,.fa-heart:hover{
    color: white;
}
/* border hover main nav bar  */
nav a:hover{
    border-bottom: greenyellow 2px solid;
}

/* hover imgs */
.container{
    position: relative;
}

.container:hover img{
    opacity: 0.2;
 }

 .container:hover .overlay{
    opacity: 1;
 }
/* overlay */
.overlay{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay .fa-circle-play {
    color: white;    
   font-size: 50px;
}

/* main */
.upper{
    display: flex;
    height: calc(100vh - 100px);
    
}

main{
    width: calc(100% - 250px);
    height: 100%;
    background-color: #141922;
    overflow: scroll;    
}

aside{
    height:100%;
    width: 250px;
    background-color: black;
}

aside h3{
    color: white;
    margin: 20px 0 10px 0;
}

/* display menu */
.display-menu{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 20px;
}

.item{
    height: calc(100% / 4);
}

.grow{
    flex-grow: 1;
}

/* menu mobile*/
.mobile-menu{
    display: none;
}

/* logo */
.logo{
    max-height: 80px;
    padding: 20px 0;
}

.logo img{
    max-height: 40px;
}

 /* playlist */
.playlist{
    height: 150px;
    overflow: scroll;
}

.fa-square-plus{
    font-size: 40px;
}

/* profile */
.profile{
    background-color: grey;
    border-radius: 50%;    
}

hr{
    margin: 10px 0;
}

.fa-square-plus{
    font-size: 40px;
}

.fa-circle-down{
    color: #717171;
    padding: 10px 0;
}

/* button */
.upgrade{
    background-color: #080b12;
    height: 80px;
}

/* main nav */
nav{
    padding: 20px 0;
    font-weight: bold;
}

/* RESPONSIVE menu mobile */

@media screen and (max-width:575px){
.display-menu{
    display: none;
}

main{
    width: calc(100% - 60px);
}
aside{
    width: 60px;
}

.mobile-menu{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
    height: 100%;
    padding-top: 20px;
}

.mobile-logo{
    max-height: 35px;
}

.fa-circle-down{
    display: block;
}
}

/* popular atrists */
.popular-artist img{
    border-radius: 50%;
}

/* footer */
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #282828;
    height: 100px;
    padding: 30px 20px;
}

footer img{
    max-width: 50px;
}

footer .bar{
    height: 5px;   
}

footer .dark-grey{
    width: 100%;
    background-color:#1e1e1e;
}

footer .white{
    width: 25%;
    background-color: white; 
}

.fa-folder,.fa-heart{
    color: #717171;
}