*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 20px auto;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    font-weight: bold;
    line-height: 30px;
}

img{
    max-width: 100%;
}

button{
    padding: 10px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #080b12;
    color: white;
}

section{
    color: white;
    margin: 30px 10px;

}
.space{
    padding: 0 10px;
    margin: 0 -10px;
}
.gap{
    gap: 30px;
}
/* main */
.upper{
    display: flex;
    height: calc(100vh - 70px);
}

aside{
    height: 100%;
    width: 300px;
    background-color: black;
}

aside li,i,a:hover{
    color: white;
}

.logo{
    display: flex;
    align-items: center;
    max-height: 50px;   
    margin-bottom: 20px;
}

aside img{
    max-height: 50px;
}

h2{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 5px;
}

a,.grey{
    color: #d2d2d2;
}

aside h3{
    color: white;
    margin: 20px 0 10px 0;
}

.fa-square-plus{
    font-size: 40px;
}

main{
    width: calc(100% - 300px);
    height: 100%;
    background-color: #141922;
    overflow: scroll;
}

.upgrade{
    background-color: #080b12;
    height: 80px;
}

/* recent played */


/* create for */


/* popular atrists */
.popular-artist img{
    border-radius: 50%;

}

/* footer */
footer{
    height: 70px;
    background-color: #282828;
}